.card-s {
        /* width: 256px!important;
        height: 388px!important;
        display: table;
        float: left!important; */
        position: relative;
        margin: 30px 10px 20px 10px;
        transition: all .2s ease-in-out;
        cursor: pointer;
        box-shadow: 24px 16px 32px -17px rgba(0,0,0,0.64)!important;
}
.card-s:hover {
   transform: scale(1.1); 
}
.status-aprt {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    padding: 2px;
    border-radius: 3px;
}
.status-aprt--open {
    background-color: green;
}
.status-aprt--closed {
    background-color: red;
}
.media-s {
        height: 150px;
        padding-top: 56.25%!important;
        background-color:black!important;
    }
   
    
.avatar {
        background-color: red;
    }
.display-p {
    font-weight: 700!important;
    font-size: 20px!important;
} 