.background-detail {
	position: relative;

}
.background-detail img{
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*width: 100%;*/
  /* height: 600px; */
  filter: brightness(50%);
}
.detail-d {
	position: relative;
}
.chip-detail {
	 display: inline-block;
    background: rgba(255,255,255,.7);
    border-radius: 34px;
    padding: 8px 18px;
    font-weight: 400;
    color: rgba(0,0,0,1);
    font-size: 20px;
    line-height: 24px;
}
.detail-address {
}
.address_a {
	position: absolute;
	top: 86px;
	display: table;
}
.address-apartment {
	float: right;
}
.type-apartment {
	float: left;
    margin-left: 200px;
}

.name-info {
	font-size: 80px;
    line-height: 72px;
    font-weight: 700;
    color: #fff;
    
}
.res {
	position: absolute;
    top: 200px;
    padding-left: 200px;
    /*left:  200px;*/
}
.font-xl {
	font-size: 48px;
    line-height: 48px;
    font-weight: 700;
}
.description {
	margin-top: 100px;
    /* margin-left: 100px; */
}
.desctiption-c {
	padding-top: 100px!important;
    padding-left: 100px!important;
}
.des-ap {
	padding-top: 30px;
}
.contact {
	padding-top: 30px;
	margin-bottom: 100px;

}
.info {
	font-size: x-large;
}
.detail-info {
	margin-top: 100px;
    color: #fff;

}
.detail-info .bed {
	float: left;
	text-align: center;
	margin-right: 50px;

}
.detail-info .room {
	float: left;
	text-align: center;
	margin-right: 50px;
}
.detail-info .bath {
	float: left;
	margin-right: 50px;
	text-align: center;
}
.des-bed, .des-room, .des-bath {
	font-size: 22px;

}
.contact-c {
	float: left;
}
.contact-c .info {
	color: #7b53c1;
}
.name-user {
	float: left;
}
/*  */

 .gallery-container {
	 padding: 0.9375rem 0;
}
 .gallery-container h1 {
	 margin: 2rem 0;
	 padding: 0;
	 text-align: center;
	 color: #fff;
	 text-transform: uppercase;
	 font-size: 6.5vw;
	 font-weight: lighter;
}
 .gallery-grid {
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 grid-gap: 8px;
	 max-width: 1200px;
	 width: 100%;
	 margin: 0 auto;
}
 .gallery-grid img {
	 width: 100%;
	 border: 5px solid #fff;
}
 .gallery-grid div {
	 position: relative;
	 cursor: pointer;
}
 .gallery-grid div:before, .gallery-grid div:after {
	 transition: 0.3s opacity ease;
	 opacity: 0;
}
 .gallery-grid div:after {
	 content: '\02194';
	 font-size: 80px;
	 position: absolute;
	 transform: translate3d(-50%, -50%, 0) rotate(-45deg);
	 color: #fff;
	 left: 50%;
	 top: 50%;
	 display: block;
}
 .gallery-grid div:before {
	 content: "";
	 position: absolute;
	 top: 0;
	 bottom: 4px;
	 left: 0;
	 right: 0;
	 background: rgba(34, 34, 34, 0.5);
	 display: block;
}
 .gallery-grid div:hover:before, .gallery-grid div:hover:after {
	 opacity: 1;
	 transition: 0.3s opacity ease;
}
 .modal-t {
	 position: fixed;
	 z-index: 999;
	 width: 50%;
	 max-width: 800px;
	 top: 50%;
	 left: 50%;
	 transform: translate3d(-50%, -50%, 0);
}
 .modal-t img {
	 width: 100%;
	 border: 5px solid #fff;
}
 .modal-overlay {
	 position: fixed;
	 z-index: 1;
	 height: 100%;
	 width: 100%;
	 background-color: rgba(0, 0, 0, 0.5);
	 top: 0;
	 left: 0;
}
 .modal-body a {
	 position: absolute;
	 display: inline;
	 color: #222;
	 text-decoration: none;
	 line-height: 36px;
	 font-size: 30px;
	 font-weight: lighter;
	 background: #fff;
	 border-radius: 5px;
	 height: 40px;
	 width: 40px;
	 text-align: center;
}
 .modal-body .modal-close {
	 right: 0;
	 top: 0;
	 border-radius: 0 0 0 5px;
}
 .modal-body .modal-next, .modal-body .modal-prev {
	 right: 0;
	 top: calc(50% - 25px);
	 border-radius: 5px 0 0 5px;
	 height: 50px;
	 line-height: 40px;
	 font-size: 60px;
}
 .modal-body .modal-prev {
	 left: 0;
	 right: auto;
	 border-radius: 0 5px 5px 0;
}
 .modal-body {
	 position: relative;
}
.Gallery_pic_pic .Gallery_pic_pic_pic img{
	height: 200px!important;
	width: 250px!important;
 }
.react-images__header {
	padding-top: 82px!important;
}
.react-images__positioner {
	padding-top: 220px;
}