.search {
    padding: 21px 30px;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    border: 0;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 14px 24px rgba(46,45,54,.25);
    color: #2e2d36;
    width: 50%;
    margin: 20px auto;
    display: table;

}
.titlename {
        padding-bottom: 10px;
        text-align: center;
        color: white;
    padding-top: 160px;
}
.containerr {
	background: linear-gradient(-60.76deg,#9679ff 0,#d499ea 57.96%,#eea4b3 100%);
    margin-top: 55px;
    padding-top: 40px;

    
}
.addaprt {
    text-align: center;
        color: white;
}
.buttonadd {
    background-color: #f7a31d!important;
    border: 0px!important;
    text-decoration: none!important;
    border-radius: 36px!important;
}
.button-center {
    margin: 0 auto;
    display: table;
    padding-bottom: 30px;
}
.bbg {
    background: url('../house.svg') center bottom no-repeat;

}
.title-data {
    background-color: white!important;
}
.titlename-data {
     padding-bottom: 5px;
    text-align: center;
    color:#e88c6f;
    padding-top: 60px;
    font-size: 48px;
}
.addaprt-data {
     padding-bottom: 20px;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}
.list-data {
}
.filter-pr {
    margin: 10px 30px;
}
.filter-pr .filter{
    float: left;
}
.filter-pr .sort{
    /*float: right;*/
 }
 .filter-c {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 10px 20px;
    background-color: #e1e7f0;
 }
 .filter-type {
     display:inline-block;
    border: none;
    height: 40px;
    min-width: 100px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(50,48,58,.15);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #2e2d36;   
     margin: 5px;
 }
 .bt-filter {
    display: table!important;
    margin: 0 auto!important;
 }
 .length-data {
    padding-left: 30px;
 }
 .result-filter {
    display: table;
    margin:0 auto; 
 }
 .info-f {
    font-size: 20px;
 }
 .filter-pr {
    border: 1px solid #d9d4d4;
    padding: 5px;
 }
 .filter-find {
    display: inline-block;
  padding: 0 25px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
 }
 .sort-option {
    float: left;
    padding-top: 8px;
    padding-right: 20px;
 }
 .select-choice {
    float: right;
 }